.main{
	width:200px;
	background-color:purple;
	border-left-color: green;
    border-left-width: 5px ;
    border-left-style:solid ;
}
#heading{
	font-size:20px;
		padding:10px;
	color:white;
	text-decoration: underline;
    font-weight: bold;
}
/* Your CSS Code here. */